body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCEEEE;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  background-color: #98A8FF;
  height: 87px;
} 
.nav .MuiTabs-indicator {
  /* display: "none" */
  background-color: white;
}
.nav .MuiButtonBase-root   {
  /* display: "none" */
  color: white !important;
}

.text--primary {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  
  color: #555555;

  max-width: 703px;
  margin: 73px auto 39px auto;
}
.text--secondary {

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  
  color: #8F7B7B;

  max-width: 575px;
  margin: 0 auto 20px auto;
}

.MuiCircularProgress-root {
  margin: auto;
}